# PostgreSQL database connection settings
POSTGRES_HOST=db                # Hostname of the PostgreSQL service (Docker service name). For development, set to 'localhost' if running PostgreSQL locally.
POSTGRES_PORT=5432              # Internal PostgreSQL port (container)
POSTGRES_PORT_EXTERNAL=5432     # External port exposed on host machine (if applicable). For local development, this is usually the same as POSTGRES_PORT.
POSTGRES_NAME=survey_db         # Name of the database
POSTGRES_USERNAME=user          # Database username
POSTGRES_PASSWORD=password      # Database password
# Note: If you are using Docker Compose, the service name (db) is used as the hostname.
# PostgreSQL database settings
# Note: The database will be created automatically if it doesn't exist.
# You can change these values as needed.

# Ollama AI service endpoint (used by Processing Service)
OLLAMA_API_URL=http://ai:11434  # URL for local Ollama AI API (Docker service 'ai'), you can use your own Ollama API URL if you have it running elsewhere (need Mistral to be installed).

# Base URL for frontend application, the base URL is using the same host (by proxy) as the backend.
BASE_URL=http://localhost       # Base URL for API endpoints (used by frontend)

# JWT Authentication Keys (paste full content including BEGIN/END lines)
AUTH_PRIVATE_KEY='-----BEGIN PRIVATE KEY-----
                 MIIEvwIBADANBgkqhkiG9w0BAQEFAASCBKkwggSlAgEAAoIBAQCZkvHclVz/3d2t
                 AQBSXGlKWdkGCAbs42n0d9m2/P6zRUpo1lFbvbHUM/yEs2RkTJXXFFMbC37DSQzt
                 ZWZPwnLxIcuYmK5UF1h2RNBtI7iv6mv0wg1VXG1jFQRWxMDNf5Zkh7WK3w02uzlR
                 kLW51r+n/6MHtOqz7FD0lHiurJkSgpy5ayTuIcyZbvLz0xMSovaX83snxn22xsZS
                 eLV0JsX0S2OQFkBjYmfExGCWoW1SgbKw1xDNqMkHqDvrdxRz8/Pyns6G41808ugO
                 klf6YYwld6BhSf9GZi4S2vodohASWGp40nuLutzq/y6TUL/tEy+XxS+ZugKtgl5c
                 5LDrgJV7AgMBAAECggEAA0HYm2MXm92qy/aPeS+4k/kf3z7gVrnkD2lTVsw64rZ/
                 g4W4KAf385Y+rtnXMUFmlC88LACsaZvtCEP0TZDEO1UKKmxilioAmFGRUh9F1YVV
                 UNWkzsCtGULi2qxFopYoLG2sbguZDiYeaxp0oEJrwjZr0MgHilViyi0z+hBzFq9i
                 FbJglTgnKafADxjS64afN+3iJ4WMZEseR6MEPsqxdj9i7Mb1n0LAWZIRLkYK7cMZ
                 uunW+Y+FoQ3zeILYC2Z0kMzC1UmWAmJcc7V7rtXCr/nhtJNvAT8aQ5TijoU58nLh
                 GisWzNWkOVC2q6ZuBC9Lxdj2QkLzVDHd+Bb5sgmdcQKBgQDBVRKqrFfeXl39mQdZ
                 rsIN66zndstvtNOuZjNC939QXFFlmMwIfSZqokCfMnNB2UfHe9ypiiquBT6bZyxG
                 viPfYJHLp8fGEfMVO4eEY++LdQSYa0F3WLLQUxniIK46cTvcQCxeE6lbnuz1oJol
                 lEcSwjc4rhMCmaMKvkvbHLWSxwKBgQDLWq78ubvc9C0BWqIZGHO91+flktTDQzyo
                 LNx9kpT+0C1YLjHVgrZZ5gd8FGR2puVK+WKqabWBq+3EKUDBgoVQAuN0rmi2PdH+
                 pQLVvTldj4/SGS9I0PMuG0K5zRuHmZeqZBQSbsdF0T1STATA6PJtqNl0q1Zoeg1W
                 8Uz+4DtzrQKBgQC9/7R7pSopsIYgj37oxVWSxrXDOD1QR97s+yWPv5oQSNn5xcNm
                 6E+T5mcpzTP2V+oyAulmeRHeuerAYRHjaEPq6IYAJqCvaL6DdGCHXItze4oLnQTW
                 nIYHNFQwpjtz1gqlNzAjOKFtGG/6KV60Zde/eL06Z+Do4kKYcVItQTa0ywKBgQCX
                 K3ewGiakz8PxIL4l576K30jdqfSOn5ok7wyOMPygHIPI7LZRIZWLaOwhektgxRrp
                 TFDjnCe5GOVtELm54NxXqX4LTGg9KeHE6kgcOkm92q4wolY7TFGq8cr9spMHj89m
                 dHVTapSquyxZ1HcoLUOi74WQLJrUmf72pfT1+B1aFQKBgQCvBEQWilU0a3TE6MAp
                 2gpmcZS9Qm32QRvgRDlodDox4+fPDc6CQ8J0FD/kbOl80DJup+Ye071AtN/MjKSw
                 sYKDQ4ZWuELZRRDCkftCmsK6tLPEuOME1KvSZ5FXuZjeecZE4xpJPBU4anDRb28o
                 8wkJ3VJI9JA66Fr3bNDHNxdNEw==
                 -----END PRIVATE KEY-----'

AUTH_PUBLIC_KEY='-----BEGIN PUBLIC KEY-----
                MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAmZLx3JVc/93drQEAUlxp
                SlnZBggG7ONp9HfZtvz+s0VKaNZRW72x1DP8hLNkZEyV1xRTGwt+w0kM7WVmT8Jy
                8SHLmJiuVBdYdkTQbSO4r+pr9MINVVxtYxUEVsTAzX+WZIe1it8NNrs5UZC1uda/
                p/+jB7Tqs+xQ9JR4rqyZEoKcuWsk7iHMmW7y89MTEqL2l/N7J8Z9tsbGUni1dCbF
                9EtjkBZAY2JnxMRglqFtUoGysNcQzajJB6g763cUc/Pz8p7OhuNfNPLoDpJX+mGM
                JXegYUn/RmYuEtr6HaIQElhqeNJ7i7rc6v8uk1C/7RMvl8UvmboCrYJeXOSw64CV
                ewIDAQAB
                -----END PUBLIC KEY-----'
