version: '3.8'

services:
  mongodb:
    image: mongo:7.0
    container_name: formulai-mongodb
    restart: unless-stopped
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_DATABASE: formulai
    volumes:
      - mongodb_data:/data/db
      - ./mongo-init.js:/docker-entrypoint-initdb.d/mongo-init.js:ro
    networks:
      - formulai-network

  mongo-express:
    image: mongo-express:1.0.2
    container_name: formulai-mongo-express
    restart: unless-stopped
    ports:
      - "8081:8081"
    environment:
      ME_CONFIG_MONGODB_URL: mongodb://mongodb:27017/
      ME_CONFIG_BASICAUTH: false
    depends_on:
      - mongodb
    networks:
      - formulai-network

  redis:
    image: redis:7-alpine
    container_name: formulai-redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - formulai-network
    command: redis-server --appendonly yes
  mailhog:
    image: mailhog/mailhog
    ports:
    - 1025:1025
    - 8025:8025
  

volumes:
  mongodb_data:
    driver: local
  redis_data:
    driver: local

networks:
  formulai-network:
    driver: bridge